<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dictionary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dictionary</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-input placeholder="Search" [(ngModel)]="word"></ion-input>
    <ion-button size="large" (click)="search()">Search</ion-button>
    <ion-button size="large" routerLink="/history">History</ion-button>
  </div>
</ion-content>
