<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dictionary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dictionary</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--searchbar allows user to search for a word and buttons allow user to navigate through the pages-->
  <div id="container">
    <ion-input placeholder="Type your word here..." [(ngModel)]="word"></ion-input>
    <ion-button size="medium" (click)="search()" [disabled]="word == ''">Search</ion-button>
    <ion-button size="medium" routerLink="/history">History</ion-button>
    <ion-button size="medium" routerLink="/about">About</ion-button>
  </div>
</ion-content>
